Linear regression

In [1]:
matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [45]:
data = pd.read_excel("Book.xlsx", usecols = 'A,E,F,J,M' )
data

,Name,Account,Joining\nlocation,Quarter,Status
0,Akansha Saxena,GE,Bangalore,FY21 Q1,Joined
1,Suryaprakash E,Invidi,Chennai,FY21 Q1,Joined
2,Vinosh Yalla,Multichoice,Bangalore,FY21 Q1,Joined
3,Vinoth P,Invidi,Chennai,FY21 Q1,Declined
4,Balaji J,Invidi,Chennai,FY21 Q2,Joined
5,Manisankar Dixit,ABB,Bangalore,FY21 Q2,Joined
6,D Remi Prasanna,Invidi,Chennai,FY21 Q2,Declined
7,Vaishnavi Ashokrao Umrekar,ABB,Bangalore,FY21 Q2,Declined
8,Suganthi Janakiraman,ABB,Bangalore,FY21 Q2,Declined
9,Nageshwari,Multichoice,Bangalore,FY21 Q2,Joined
10,Naresh Kumar Kanakam,Multichoice,Bangalore,FY21 Q2,Joined
11,Sherin M K,Multichoice,Bangalore,FY21 Q2,Joined
12,Minhajuddin Ahmed,ABB,Bangalore,FY21 Q2,Joined
13,Aditya Borah,Viavi,Bangalore,FY21 Q2,Joined
14,Dinesh S H,MBC/Multichoice,Bangalore,FY21 Q2,Joined
15,Niharika Sharma,Comcast,Bangalore,FY21 Q2,Joined
16,Ramya Mandhal,ABB,Bangalore,FY21 Q3,Joined
17,Ajit T Alias,Multichoice,Bangalore,FY21 Q3,Joined

Splitting dependant and independant variables.

In [46]:
X = data.iloc[:, :-1 ].values
print(X)

[['Akansha Saxena' 'GE' 'Bangalore' 'FY21 Q1']
 ['Suryaprakash E ' 'Invidi' 'Chennai' 'FY21 Q1']
 ['Vinosh Yalla' 'Multichoice' 'Bangalore' 'FY21 Q1']
 ['Vinoth P' 'Invidi' 'Chennai' 'FY21 Q1']
 ['Balaji J' 'Invidi' 'Chennai' 'FY21 Q2']
 ['Manisankar Dixit' 'ABB' 'Bangalore' 'FY21 Q2']
 ['D Remi Prasanna' 'Invidi' 'Chennai' 'FY21 Q2']
 ['Vaishnavi Ashokrao Umrekar' 'ABB' 'Bangalore' 'FY21 Q2']
 ['Suganthi Janakiraman' 'ABB' 'Bangalore' 'FY21 Q2']
 ['Nageshwari' 'Multichoice' 'Bangalore' 'FY21 Q2']
 ['Naresh Kumar Kanakam' 'Multichoice' 'Bangalore' 'FY21 Q2']
 ['Sherin M K' 'Multichoice' 'Bangalore' 'FY21 Q2']
 ['Minhajuddin Ahmed ' 'ABB' 'Bangalore' 'FY21 Q2']
 ['Aditya Borah' 'Viavi' 'Bangalore' 'FY21 Q2']
 ['Dinesh S H ' 'MBC/Multichoice' 'Bangalore' 'FY21 Q2']
 ['Niharika Sharma' 'Comcast' 'Bangalore' 'FY21 Q2']
 ['Ramya Mandhal' 'ABB' 'Bangalore' 'FY21 Q3']
 ['Ajit T Alias' 'Multichoice' 'Bangalore' 'FY21 Q3']]

In [33]:
y = data.iloc[ : , -1].values
print(y)

['Joined' 'Joined' 'Joined' 'Declined' 'Joined' 'Joined' 'Declined'
 'Declined' 'Declined' 'Joined' 'Joined' 'Joined' 'Joined' 'Joined'
 'Joined' 'Joined' 'Joined' 'Joined']

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              18 non-null     object
 1   Account           18 non-null     object
 2   Joining
location  18 non-null     object
 3   Unnamed: 6        0 non-null      float64
 4   Quarter           18 non-null     object
dtypes: float64(1), object(4)
memory usage: 848.0+ bytes

Encoding categorical data.

In [47]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [1,2,3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [48]:
print(X)

[[0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 'Akansha Saxena']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 'Suryaprakash E ']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 1.0 0.0 0.0 'Vinosh Yalla']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 'Vinoth P']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 'Balaji J']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 'Manisankar Dixit']
 [0.0 0.0 0.0 1.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 'D Remi Prasanna']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0
  'Vaishnavi Ashokrao Umrekar']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 'Suganthi Janakiraman']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 'Nageshwari']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 'Naresh Kumar Kanakam']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 1.0 0.0 'Sherin M K']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 'Minhajuddin Ahmed ']
 [0.0 0.0 0.0 0.0 0.0 0.0 1.0 1.0 0.0 0.0 1.0 0.0 'Aditya Borah']
 [0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 'Dinesh S H ']
 [0.0 1.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 1.0 0.0 'Niharika Sharma']
 [1.0 0.0 0.0 0.0 0.0 0.0 0.0 1.0 0.0 0.0 0.0 1.0 'Ramya Mandhal']
 [0.0 0.0 0.0 0.0 0.0 1.0 0.0 1.0 0.0 0.0 0.0 1.0 'Ajit T Alias']]

In [34]:
from sklearn.preprocessing import LabelEncoder
le  = LabelEncoder()
y = le.fit_transform(y)

In [35]:
print(y)

[1 1 1 0 1 1 0 0 0 1 1 1 1 1 1 1 1 1]